<div class="comment-card-container">
    <div class="comment-card">
        <div class="comment-header">
          <div class="author-details">
            <img [src]="authorProfileImage" alt="Profile Image" class="profile-img" />
            <div class="author-info">
              <h3>{{ comment.author.username }}</h3>
              <p>{{ comment.timestamp | date: 'short' }}</p>
            </div>

          </div>
            

            <button  (click)="deleteComment()" class="delete-btn">
              <img src="trash3.svg" alt="Elimina commento" class="delete-icon">
          </button>
          
  
          </div>

          <div class="comment-content">
            <p>{{ comment.content }}</p>
          </div>

          
    </div>
    

</div>
