*{
  font-family: 'Inter', sans-serif;
}



.home-container {

    //border: 1px solid green;
    max-width: 1200px;
    margin-top: 30px;
    min-height: 90vh;
    margin: 20px auto; // ✅ Centra la lista delle idee nella pagina
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

  }


.footer-container {
    position: relative;
    bottom: 0;
    
}
  
  
  