<div class="user-page-container">
    <app-header
        [showDropdown]="false" 
        [showCreateButton]="false">
    </app-header>    

    

    <div class="user-page">
        <div class="user-info">
            <!-- ✅ Immagine profilo con possibilità di cambiarla -->
            <label class="profile-img-container">
                <img [src]="userProfileImage || 'default-profile.png'" alt="Foto profilo" class="profile-img" />
                <input type="file" (change)="onFileSelected($event)" accept="image/*" hidden />
                <img src="edited.svg" alt="Modifica foto profilo" class="edit-icon" />
            </label>

            <h2>&#64;{{ userUsername || 'Caricamento...' }}</h2>

            <button class="logout-btn" (click)="logout()">Logout </button>
        </div>
    </div>

    <div class="user-ideas-container">
        <app-idea-list 
        [authorId]="userId"
        (profileImageUpdated)="loadUserImage()"
        [showDeleteButton]="true">
    </app-idea-list>
    </div>
    
</div>
