*{
  font-family: 'Inter', sans-serif;
}


footer {
    position: absolute;
    bottom: 10px;
    padding-left: 10px;
    width: 99%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
  }
  
  /* Contenitore del footer */
  .footer-nav {
    display: flex;
    gap: 10px; /* Distanza tra i link */
    align-items: center;
    font-size: 1em;
    font-weight: bold;
    color: #0d0d52;
  }
  
  nav a, nav span {
    color: #0d0d52;
    text-decoration: none;
    font-size: 1em;
  }
  
  nav a:hover {
    text-decoration: underline;
  }