<div class = "login_component">
  <h1 class="title">CHE COS’HAI IN MENTE OGGI?</h1>

  
  <div class="login-page">
    <!-- Titolo in alto -->
    
      <!-- Immagine a sinistra -->
      <div class="login-image">
        <img src="iphone.png" alt="Hive Mind Logo" />
      </div>
  
      <!-- Form di Login a destra -->
      <div class="login-form">
        <h2>Benvenuto!</h2>
        
        <form class ="form2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="email" id="email" placeholder=" " formControlName="email" required />
            <label for="email">Email</label>
          </div>
  
          <div class="form-group password-group">
            <input 
              [type]="passwordVisible ? 'text' : 'password'"
              id="password"
              placeholder=" " 
              formControlName="password" 
              required 
            />
            <label for="password">Password</label>
            
            <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
              <img src="eye.svg" *ngIf="!passwordVisible" alt="Mostra password">
              <img src="eye-slash.svg" *ngIf="passwordVisible" alt="Nascondi password">
            </button>
          </div>
          
          
  
          <button type="submit" class="login-btn" [disabled]="loginForm.invalid || isLoading">
            {{ 'ACCEDI' }}
          </button>

          
        </form>
        <hr class="divider" />
  
          <button class="signup-btn" routerLink="register">CREA UN ACCOUNT</button>
  
        
      </div>
  </div>

</div>


  <app-footer></app-footer>

