<div class="idea-page-container" *ngIf="idea; else loading">
    <div class ="header-container">
        <app-header 
        [showDropdown]="false" 
        [showCreateButton]="false" ></app-header>
      
    </div>
    
    <div class="idea-card">
        <app-idea *ngIf="idea"
        [idea]="idea"
        [showComments]="false"
        [isExpanded]="true"
        
        
        ></app-idea>
    </div>

    <div class="comments-container">
        <app-comments-list  class="comment-list" [ideaId]="this.idea._id" ></app-comments-list>
    </div>

</div>

<ng-template #loading>
    <p class="loading-message">Caricamento dell'idea...</p>
</ng-template>
