<nav class="navbar">
  <div class="logo" >
      <img src="logo_no_write.png" alt="Hive Mind Logo" (click)="goToHome()"/>
      HIVE MIND
  </div>

  <!-- Menu a tendina visibile solo se showDropdown è true -->
  <div class="dropdown" *ngIf="showDropdown">
    <button class="dropdown-btn" (click)="toggleDropdown()">
        {{ selectedFilter | uppercase }} ⌄
    </button>
    <ul *ngIf="dropdownOpen" class="dropdown-menu">
        <li (click)="setFilter('controverse')">🔥 Controverse</li>
        <li (click)="setFilter('mainstream')">🌎 Mainstream</li>
        <li (click)="setFilter('unpopular')">📉 Unpopular</li>
        <li (click)="setFilter('newest')">🆕 Newest</li>
    </ul>
  </div>

  <!-- Bottone "Crea" visibile solo se showCreateButton è true -->
  <div class="create-btn-container" *ngIf="showCreateButton">
    <button class="create-btn" (click)="onCreateIdea()">+ CREA</button>
  </div>
  
  <div>
    <img [src]="userProfileImage" alt="Foto profilo" class="profile-img" (click)="goToProfile()" />
  </div>
</nav>
