<div class = "login_component">
  <h1 class="title">CHE COS’HAI IN MENTE OGGI?</h1>

  
  <div class="login-page">

      <div class="login-image">
        <img src="iphone.png" alt="Hive Mind Logo" />
      </div>
  

      <div class="login-form">
        <h2>Benvenuto!</h2>
        
        <form class ="form2" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input type="email" id="email" placeholder=" " formControlName="email" required />
            <label for="email">Email</label>
          </div>
  
          <div class="form-group password-group">
            <input 
              [type]="passwordVisible ? 'text' : 'password'"
              id="password"
              placeholder=" " 
              formControlName="password" 
              required 
            />
            <label for="password">Password</label>
            
            <button type="button" class="toggle-password" (click)="togglePasswordVisibility()">
              <img src="eye.svg" *ngIf="!passwordVisible" alt="Mostra password">
              <img src="eye-slash.svg" *ngIf="passwordVisible" alt="Nascondi password">
            </button>
          </div>
          
          
  
          <button type="submit" class="login-btn" [disabled]="loginForm.invalid || isLoading">
            {{ 'ACCEDI' }}
          </button>

          
        </form>
        <hr class="divider" />
  
          <button class="signup-btn" routerLink="register">CREA UN ACCOUNT</button>
  
        
      </div>
  </div>

</div>



  <footer>
    <nav class="footer-nav">
      <span>Hive Mind ©</span>
      <span>-</span> 
      <a href="https://www.linkedin.com/in/giuseppe-sindoni-69b326305/">Lavora con noi</a>
    </nav>
</footer>