<div class="idea-card">
    <div class="idea-header">
      <img [src]="authorProfileImage" alt="Profile Image" class="profile-img" />
      <div class="author-info">
        <h3>{{ idea.author.username }}</h3>
        <p>{{ idea.timestamp | date: 'short' }}</p>
      </div>
    </div>
  
    <div class="idea-content">
      <h2>{{ idea.title }}</h2>
      <div [innerHTML]="convertedContent"></div> 
      
      <button *ngIf="idea.content.length > maxContentLength" (click)="goToIdeaDetails()" class="read-more-btn">
        Visualizza altro...
      </button>
    </div>
  
    <div class="idea-footer">
      <!-- Contenitore per Upvote e Downvote -->
      <div class="vote-container">
        <button (click)="upvote()" class="vote-btn">
          <img src="upvote.svg" alt="Upvote" class="icon-btn" /> {{ idea.upvotes }}
        </button>
      
        <button (click)="downvote()" class="vote-btn">
          <img src="downvote.svg" alt="Downvote" class="icon-btn" /> {{ idea.downvotes }}
        </button>
      </div>
    
      <!-- Pulsante Commenti resta a destra -->
      <button (click)="goToIdeaDetails()" class="comment-btn">
        <img src="comment.svg" alt="Commenti" class="icon-btn" /> Commenti
      </button>
    </div>
    
</div>
