<div class="idea-card">
    <div class="idea-header">
      <img [src]="authorProfileImage" alt="Profile Image" class="profile-img" />
      <div class="author-info">
        <h3>{{ idea.author.username }}</h3>
        <p>{{ idea.timestamp | date: 'short' }}</p>
      </div>
    </div>
  
    <div class="idea-content">
      <h2>{{ idea.title }}</h2>
      <div [innerHTML]="sanitizedContentHtml"></div> 
      
    
    </div>
  
    <div class="idea-footer">
      <!-- Contenitore per Upvote e Downvote -->
      <div class="vote-container">
        <button (click)="upvote()" class="vote-btn-upvote">
          <img [src]="userVote === 1 ? 'arrow-up-circle-fill-blue.svg' : 'arrow-up-circle-blue.svg'" 
               alt="Upvote" class="icon-btn" />
          {{ idea.upvotes }}
        </button>
  
        <button (click)="downvote()" class="vote-btn-downvote">
          <img [src]="userVote === -1 ? 'arrow-down-circle-fill-blue.svg' : 'arrow-down-circle-blue.svg'" 
               alt="Downvote" class="icon-btn" />
          {{ idea.downvotes }}
        </button>
      </div>
  
      <!-- Pulsante Commenti -->
      <button (click)="goToIdeaDetails()" class="comment-btn">
        <img src="comment.svg" alt="Commenti" class="icon-btn" /> Commenti
      </button>
    </div>
    
</div>
